@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins, sans-serif;
}

body {
    background-color: #f4f4f4;
    margin-top: 10rem;
    padding: 0;
}

/*Modal styles*/
.dashboard-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
.dashboard-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-pesanan { background-color: #007bff; }
.card-pembayaran { background-color: #28a745; }
.card-user { background-color: #dc3545; }
.card-title {
    font-size: 20px;
    margin: 10px 10px 5px 10px;
}
.card-value {
    font-size: 24px;
    margin: 10px 10px 5px 10px;
    font-weight: bold;
}
/*Test*/
.kotak {
    margin: 4rem 20rem;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.atas{
    align-items: center;
}
.search-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    height: 50px;
    align-items: center;
}
.search-form input {
    padding: 5px;
    width: 200px;
    height: 30px;
}


h2, h3 {
    color: #333;
}

form {
    margin: 20px 0;
}

input[type="text"], input[type="password"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
}

button:hover {
    background-color: #c9dafa;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}
.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
}
.pagination a.active {
    font-weight: bold;
    color: #000;
}
.pagination a:hover {
    text-decoration: underline;
}
